better-exceptions==0.2.2
dlib==19.17.0
future==0.17.1
imgaug==0.2.9
numpy==1.16.4
opencv-python==4.2.0.32
pandas==0.24.2
pretrainedmodels==0.7.4
tensorboard==1.14.0
torch==1.1.0
torchvision==0.3.0
tqdm==4.32.2
yacs==0.1.6
